.main {
}
.headerSection {
  width: 100vw;
  padding-top: 30vh;
  padding-bottom: 8rem;
  min-height: 100vh;
  background: no-repeat center url("/headerBg.png") var(--bg-Color);
  background-size: 690px;
}
.headerSectionBox {
  width: 90vw;
  max-width: var(--max-Width);
  margin: 0 auto;
  text-align: center;
}
.headerSectionBox h2 {
}
.headerSectionBox h1 {
  color: var(--yellow-Color);
  font-size: 4rem;
}
.headerSectionBox p {
  font-size: 1.25rem;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 1000px;
}

/* skills */
.skillsBox {
  width: fit-content;
  max-width: 90vw;
  margin: 0 auto;
  padding: 0.75rem 2rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem 2rem;
  flex-wrap: wrap;
  background: var(--boxColor);
  border: 1px solid var(--boxColor);
  box-shadow: 1px 1px 15px var(--boxColor);
}
.skillsBoxIndividual {
  text-align: center;
}
.skillsBoxIndividual img {
  width: 35px;
}
.skillsBoxIndividual p {
  padding: 0.1rem 0rem;
  width: 70px;
  margin-top: 0.25rem;
  font-size: 0.65rem;
  background: var(--boxColor);
  background: rgb(36, 51, 65);
  border-radius: 5px;
  box-shadow: 1px 1px 2px var(--boxColor);
}

@media (max-width: 650px) {
  .headerSection {
    width: 100vw;
    padding-top: 20vh;
    padding-bottom: 8rem;
    background-size: 95vw;
  }
  .headerSectionBox h1 {
    font-size: 3rem;
    line-height: 45px;
  }
  .headerSectionBox h2 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  .headerSectionBox p {
    font-size: 1.15rem;
    text-wrap: balance;
  }
}
