.SocialMain {
  padding: 0.5rem 0.25rem;
  position: fixed;
  top: 50%;
  left: 2rem;
  background: rgb(211, 211, 211);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.SocialMain img {
  width: 32px;
  cursor: pointer;
}
