.SocialMain {
  padding: 0.5rem 0.25rem;
  position: fixed;
  top: 50%;
  left: 2rem;
  background: rgb(211, 211, 211);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem 0.5rem;
}
.SocialMain img {
  width: 32px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .SocialMain {
    padding: 0.25rem 0.5rem;
    top: inherit;
    bottom: 1rem;
    left: 2rem;
    flex-direction: row;
  }
  .SocialMain img {
    width: 23px;
  }
}
