* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
:root {
  --yellow-Color: rgb(255, 215, 38);
  --bg-Color: rgb(35, 38, 44);
  --bgSecondary-Color: #313943;
  --boxColor: #61c3d760;
  --max-Width: 1200px;
  --transition: all 0.2s linear;
}
body {
  position: relative;
  background: var(--bg-Color);
  overflow-x: hidden;
}
h2,
p {
  color: white;
}
h2 {
  margin: 0 auto;
  max-width: 90vw;
  font-size: 2.5rem;
}
a {
  transition: var(--transition);
  text-decoration: none;
}
a:hover {
  transform: scale(1.05);
}
button {
  background: transparent;
  border: transparent;
  cursor: pointer;
}

@media (max-width: 600px) {
  h2 {
    font-size: 2.25rem;
    line-height: 38px;
  }
}
