* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yellow-Color: rgb(255, 215, 38);
  --bg-Color: rgb(42, 46, 54);
  --bgSecondary-Color: #37404c;
  --boxColor: #6adcf34b;
  --max-Width: 1200px;
  --transition: all 0.2s linear;
}
body {
  position: relative;
  background: var(--bg-Color);
}
h2,
p {
  color: white;
}
h2 {
  font-size: 2.5rem;
}
a {
  transition: var(--transition);
  text-decoration: none;
}
a:hover {
  transform: scale(1.05);
}
