.contactSection {
  padding: 6rem 0rem 8rem 0rem;
  width: 100vw;
  background: var(--bgSecondary-Color);
  box-shadow: 1px 1px 40px var(--boxColor);
}
.contactSection h2 {
  text-align: center;
}
.form {
  width: 90vw;
  max-width: var(--max-Width);
  margin: 0 auto;
  margin-top: 3rem;
  /* background: var(--boxColor); */
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid var(--boxColor);
  /* border-radius: 5px; */
  box-shadow: 1px 1px 5px var(--boxColor);
}
.inputLayout {
  display: flex;
  gap: 1.5rem 2rem;
  align-items: flex-end;
}
.inputBox,
.textareaBox {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.inputBox label,
.textareaBox label {
  width: fit-content;
  padding: 0.15rem 1.25rem;
  color: white;
  background: var(--boxColor);
  /* background: rgb(36, 51, 65); */
  font-size: 0.9rem;
  border-radius: 2px;
  border: 1px solid var(--boxColor);
  /* border-radius: 5px; */
  box-shadow: 1px 1px 1px var(--boxColor);
  transition: all 0.1s linear;
  cursor: pointer;
}

.inputBox input,
.textareaBox textarea {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  background: rgb(237, 241, 247);
  color: var(--bg-Color);
  font-size: 1rem;
}
.textareaBox {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.form button {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0.2rem 1.5rem;
  color: white;
  background: var(--boxColor);
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid var(--boxColor);
  box-shadow: 1px 1px 1px var(--boxColor);
  transition: all 0.1s linear;
  font-size: 1.05rem;
  cursor: pointer;
}
.inputBox label:hover,
.textareaBox label:hover,
.form button:hover {
  transform: translate(1px, 1px);
  box-shadow: 0px 0px 0px var(--boxColor);
}
/* error */
.textoError {
  padding: 0.25rem 1rem;
  color: rgb(128, 25, 25);
  background: rgb(242, 151, 151);
  width: fit-content;
  margin-bottom: 0.25rem;
}
@media (max-width: 600px) {
  .contactSection {
    padding: 4rem 0rem 6rem 0rem;
  }
  .form {
    margin-top: 2rem;
    padding: 2rem 1rem;
  }
  .inputLayout {
    flex-direction: column;
  }
  .textareaBox {
    margin-top: 1.5rem;
  }
  .form button {
    width: 100%;
    margin-top: 1.5rem;
  }
}

/* SUCCESS OR NOT SUCCES MESSAGE */
.main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.532);
  backdrop-filter: blur(1px);
  display: grid;
  place-content: center;
  z-index: 300;
}

.container {
  width: 90vw;
  max-width: 550px;
  padding: 2rem 3rem;
  background: #4d9cacea;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 40px;
}
.container p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 40px;
}
.symbolSucces {
  font-size: 3rem;
  color: var(--bg-Color);
}
.symbolError {
  font-size: 3rem;
  color: rgb(153, 31, 31);
  font-weight: 600;
}
.container button {
  margin: 0 auto;
  margin-top: 0rem;
  padding: 0.2rem 0.6rem;
  font-size: 0.95rem;
  background: black;
  color: white;
}
