.navbarMain {
  width: 100vw;
  background: var(--bg-Color);
  padding: 1rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
.navbarBoxLayout {
  width: 90vw;
  margin: 0 auto;
  max-width: 1250px;
  display: flex;
  column-gap: 2rem;
  justify-content: right;
}
.navbarBoxLayout a {
  color: rgb(222, 222, 222);
  font-size: 1rem;
}
.navbarBoxLayout span {
  color: var(--yellow-Color);
  font-size: 1.1rem;
}

/* small screen */
.navbarSmallScreen {
  width: 90vw;
  margin: 0 auto;
  display: none;
}
.navbarSmallScreen img {
  width: 40px;
  transition: var(--transition);
}
.navbarSmallScreenLinksBox {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #254b52;
  position: fixed;
  top: 59px;
  left: 0;
  transition: var(--transition);
}

.navbarSmallScreenLinksBox a {
  color: rgb(222, 222, 222);
  font-size: 1rem;
  padding: 1rem;
}
.navbarSmallScreenLinksBox span {
  color: var(--yellow-Color);
  font-size: 1.1rem;
}

@media (max-width: 600px) {
  .navbarMain {
    height: 60px;
    padding: 0.65rem;
  }
  .navbarBoxLayout {
    display: none;
  }
  .navbarSmallScreen {
    display: flex;
    justify-content: flex-end;
  }
}
