.profesionalProjectSection {
  padding: 8rem 0rem;
  width: 100vw;
  background: var(--bgSecondary-Color);
}
.profesionalProjectSection h2 {
  text-align: center;
}
.profesionalProjectBox {
  margin: 0 auto;
  margin-top: 2rem;
  width: 90vw;
  max-width: var(--max-Width);
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.profesionalProjectIndividual {
  padding: 1rem;
  flex: 1 1 calc(50% - 2rem);
  background: var(--boxColor);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.profesionalProjectIndividual img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.profesionalProjectIndividualText {
  margin-top: 1rem;
}
.profesionalProjectIndividualSkills {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.profesionalProjectIndividualSkills p {
  padding: 0.2rem 0.1rem;
  width: 100px;
  background: var(--boxColor);
  background: rgb(36, 51, 65);

  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
}
